.searchBar {
    width: 300px;
    height: 32px;
}

.submit-b {
    height: 32px;
    width: 32px;
}

.my-card {
    width: 30%;
    max-width: 30%;
}

.fs-card {
    font-size: 12px;
}

.card-hover:hover {
    transform: scale(1.05);
}

.card-transition {
    transition: all .5s ease-in-out;
}

.disabled {
    display: none;
}