/* custom variables*/

$blue: #3282F7;
$green:#68D9A4;
$red: #ED6454;
$categoryColors: (ingredients:$blue, appliance:$green, ustensils:$red);

/*custom mixins*/

@mixin categoryColors {
    @each $clr,
    $categoryColor in $categoryColors {
        &-#{$clr} {
            background-color: map-get($categoryColors, $clr);
        }
    }
}

.color {
    @include categoryColors();
}


/*custom elements*/

.cursor-p {
    cursor: pointer;
    &:hover {
        background-color: rgba(255, 255, 255, 0.264)!important;
    }
}

.dropdown-input::placeholder {
    color: white;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';